@font-face {
	font-family: Raleway;
	src: url("/assets/fonts/raleway-regular-webfont.woff2") format("woff2"),
	     url("/assets/fonts/raleway-regular-webfont.woff") format("woff"),
	     url("/assets/fonts/Raleway-Regular.ttf") format("ttf");
}

body {
	font-family: 'Raleway';
}

.brand-image {
	height: 50px !important;
	max-height: 50px !important;
}

#homeMenu a, #appMenu a {
	font-weight: bold;
	color: #1b222f;
	text-transform: uppercase;
	font-size: 14px;
}
